<section class="form">
    <form (keydown.enter)="$event.preventDefault()" autocomplete="on">
        <label for="email">
            Ingresa tu correo electrónico:
            <input #email type="email" id="email" placeholder="example@thriflora.com" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" (keyup)="toggleButton()" (keydown.enter)="$event.preventDefault()" minlength="8" maxlength="37" required email>
            <span></span>
        </label>
        <span></span>
        <label for="residence">
            Selecciona tu país de residencia:
            <select #residence name="residence" id="residence" name="residence" value="residence" (change)="toggleButton()" required>
                <option id="residence" selected></option>
                <option value="españa" id="residence" name="españa" required>España</option>
                <option value="francia" id="residence" name="francia" required>Francia</option>
                <option value="italia" id="residence" name="italia" required>Italia</option>
            </select>
            <span></span>
        </label>
        <p></p>
        <input #checkbox class="checkbox" type="checkbox" id="checkbox" name="checkbox" (click)="toggleButton()" ng-checked required/>Quiero recibir un email cuando la tienda esté disponible
        <p></p>
        <button #submitButton id="submitButton" name="submitButton" type="submit" value="submit" (click)="showMessage()" disabled>¡Quiero ser la primera en comprar!</button>
    </form>
</section>
