@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

section.form {
    font-size: 1rem;
    box-sizing: border-box;
    border: rgb(54, 91, 75) 1.4px outset;
    border-radius: 0.7rem;
    padding: 2rem;
    width: 39rem;
    height: 20rem;
    position: absolute;
    top: 37%;
    left: 28.5%;
    background-color: rgb(254, 254, 254);
    box-shadow: 1px 1px 1px 0 rgb(48, 48, 48);
    text-align: left;
    display: flex;
}

button {
    font-size: 1.2rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    border:  1.7px rgb(53, 125, 94) outset;
    box-shadow: 1px 1px 2px rgb(48, 48, 48);
    position: absolute;
    left: 23%;
    margin-top: 1.3rem;
    background-color: azure;
    text-align: center;
}

button:enabled {
    background-color: rgb(190, 248, 229);
}

button:hover:enabled {
    background-color: aquamarine;
    box-shadow: 1px 1px 3px rgb(48, 48, 48);
    color: black;
}

#email {
    border-radius: 0.3rem;
    border: rgb(54, 91, 75) 1.5px outset;
    padding: 0.2rem;
    width: 19rem;
    height: 1.6rem;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

#email + span {
    position: absolute;
}

#email + span::before {
    position: absolute;
    right: -20px;
    top: 0.5rem;
}
 
#email[pattern]:invalid + span::before {
    content: '✖';
    color: red;
}

#email[pattern]:valid + span::before {
    content: '✓';
    color: green;
}

#residence {
    width: 12rem;
    height: 2.1rem;
    padding: 0.2rem;
    border-radius: 0.3rem;
    border: rgb(54, 91, 75) 1.5px outset;
    font-size: 0.9rem;
    margin-top: 2rem;
}

#residence + span {
    position: relative;
}

#residence + span::before {
    position: absolute;
    right: -20px;
    top: 1px;
}

#residence:invalid + span::before {
    content: '✖';
    color: red;
}

#residence:valid + span::before{
    content: '✓';
    color: green;
}

.checkbox {
    margin-top: 1.5rem;
}

select:required {
    display: inline-block;
}