@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

html {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

div.title {
    font-size: 1.1rem;
    font-weight: 900;
    margin-left: 2.7rem;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

h1 {
    font-weight: 900;
    justify-content: auto;
    text-align: justify;
    display: inline-block;
}

div.register {
    text-align: center; 
}

h2.center {
    margin-top: 5.5%;
    color: black;
    background-color: azure;
    display: inline-block;
    border-radius: 0.3rem;
    padding: 0.3rem;
    opacity: 0.9;
    text-align: match-parent;
}

body {
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    background-color: aquamarine;
    background: linear-gradient(to bottom right, aquamarine, rgb(4, 168, 209));
    background-image: url(./fondoweb.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    min-height: 100vh;  
    min-width: 100vw;
    display: block;
}

header {
    display: block;
    border-bottom: 1.3px solid black;
    box-shadow: 1px 1px 2px 0 rgb(43, 43, 43);
    background-color: aquamarine;
    background: linear-gradient(to bottom right, aquamarine, rgb(4, 168, 209, 0.7));
}

.logotipo {
    object-fit: contain;
    position: block;
    size: 2rem;
    width: 2.5rem;
}

div.form {
    position: block;
    display: flex;
}