@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }

img {
  size: 2rem;
}